<div class="row justify-content-center">
  <div class="col-lg-8 col-xl-7">
    <%= form_with(model: pool) do |form| %>
      <% if pool.errors.any? %>
        <div style="color: red" class="mb-2">
          <h5><%= pluralize(pool.errors.count, "error") %> prohibited this pool from being saved:</h5>

          <ul>
            <% pool.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-floating">
        <%= form.text_field :project, class:"form-control", placeholder:"Project" %>
        <%= form.label :project, "Project" %>
      </div>

      <div class="form-floating">
        <%= form.text_field :round, class:"form-control", placeholder:"Select the round" %>
        <%= form.label :round, "Round" %>
      </div>

      <div class="form-floating">
        <%= form.text_field :platform, class:"form-control", placeholder:"Round" %>
        <%= form.label :platform, "Platform" %>
      </div>

      <div class="form-floating">
        <%= form.number_field :amount, class:"form-control", placeholder:"Your fund" %>
        <%= form.label :amount, "Your Amount" %>
      </div>

      <div class="form-floating">
        <%= form.number_field :price, step: :any, class:"form-control", placeholder:"Token price" %>
        <%= form.label :price, "Token Price" %>
      </div>

      <div class="form-floating">
        <%= form.text_area :vesting, class:"form-control", placeholder:"Vesting time" %>
        <%= form.label :vesting, "Vesting Schedule:" %>
      </div><br/>

      <div>
        <%= form.label :launchdate, "Launch Date:", style:"color: #6c757d; font-size:1.5rem;" %>
        <%= form.date_select :launchdate, include_blank: true %>
      </div>

      <div>
        <br/>
        <%= form.submit "Confirm", class:"btn btn-primary" %>
        <%= link_to "Cancel", pools_path, class: "btn btn-secondary" %>
      </div>
      <div class=" mt-4">
        <%= link_to "Delete", @pool, method: :delete, data: { confirm: "Do you really want to close this pool?"}, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
