<div id="<%= dom_id pool %>">
  <tr class="text-center">
    <td><%= link_to pool.project, pool %></td>
    <td><%= pool.round %></td>
    <td><%= pool.platform %></td>
    <td><%= number_to_currency(pool.amount, precision: 0) unless pool.amount.nil? %></td>
    <td><%= pool.price %></td>
    <td class="text-start"><%= link_to pool.vesting, pool_vestings_path(pool) %></td>
    <td><%= pool.launchdate.nil? ? "Updating..." : pool.launchdate.strftime('%d/%m/%Y') %></td>
  </tr>
</div>
