<% content_for :title, "Pools" %>
<div class="container mb-4">
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">My Pools</h2>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="table-dark text-center">
        <tr class="align-middle">
          <th>Project</th>
          <th>Round</th>
          <th>Platform</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Profit</th>
          <th>Vesting Schedule</th>
          <th>Launch Date</th>
        </tr>
      </thead>
      <tbody>
        <%= render @pools %>
        <tr class="text-center border-0">
          <td colspan="3" class="text-end border-0"><b>Total:</b></td>
          <td class="border-0"><b>$<%= number_with_delimiter(current_user.pools.sum("amount").round(0), delimiter: ",") %><b></td>
          <td class="border-0"></td>
          <td class="border-0"><b>
            <% if total_profit(current_user) == 0 %>
              <span>
            <% elsif total_profit(current_user) < 0 %>
              <span style="color: red;">
            <% else %>
              <span style="color: blue;">
            <% end %>
            <%= number_with_delimiter(total_profit(current_user)) %>$</span></b></td>
          <td class="border-0"></td>
          <td class="border-0"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-end mb-0">
    <%= link_to_prev_page @pools, '< Prev' %>&nbsp;
    <%= link_to_next_page @pools, 'Next >' %>
  </div>
  <div>
    <%= link_to "New Project", new_pool_path, class:"btn btn-sm btn-primary" %>
  </div>
</div>
