<% content_for :title, "Home" %>

<div class="container">
  <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Lastest News</h3>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>
  <div class="row d-flex">
    <% @news["Data"].first(20).each do |article| %>
      <div class="col-sm ">
        <div class="card justify-content-center" style="width: 15rem; height: 40rem;">
          <a href="<%= article["url"] %>">
            <img src="<%= article["imageurl"] %>" class="card-img-top" alt="img">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= article["title"] %></h5>
            <p class="card-text text-align-justify">
              <%= truncate article["body"], length: 155 %><br/>
              <a href="<%= article["url"] %>"> Read more...</a>
            </p>
          </div>
        </div><br/>
      </div>
    <% end %>
  </div>
</div>
