<% content_for :title, "Market" %>
<div class="container">
  <div class="d-flex no-wrap" style="font-size:0.9rem;">
    <strong><i class="fa-brands fa-hotjar" style="color:red;"></i>&nbsp;&nbsp;</strong>  Trending:&nbsp;&nbsp;
    <marquee scrollamount="2">
      <% @top_search["coins"].each do |coin| %>
        <%= image_tag coin["item"]["large"], size:"25" %>
        <%= coin["item"]["name"] %>:
        $<%= coin["item"]["price_btc"].to_d*@price_btc["bitcoin"]["usd"] < 0.001 ? (coin["item"]["price_btc"].to_d*@price_btc["bitcoin"]["usd"]).round(6) : (coin["item"]["price_btc"].to_d*@price_btc["bitcoin"]["usd"]).round(2) %>&nbsp;
      <% end %>
    </marquee>
  </div>

  <div class="table-responsive">
    <table id="pricesTable" class="table align-middle text-end table-hover mb-0">
      <thead class="align-middle">
        <tr>
          <th class="text-center">Rank</th>
          <th></th>
          <th class="text-start">Name</th>
          <th>Price</th>
          <th class="text-center">1H</th>
          <th class="text-center">24H</th>
          <th style="min-width: 80px;">Mkt Cap</th>
          <th style="min-width: 80px;">Supply</th>
          <th style="min-width: 80px;">24H Volume</th>
        </tr>
      </thead>
        <tbody>
        <% @prices.each do |token| %>
        <tr>
          <td class="text-center"><%= token["market_cap_rank"] %></td>
          <td class="px-0"><%= image_tag token["image"], size:"30" %></td>
          <td class="text-start">
              <%= token["name"] %><br>
              <i style="font-size: 0.8rem;"><%= token["symbol"].upcase %></i>
          </td>
          <td>$<%= token["current_price"] < 0.001 ? number_with_delimiter(token["current_price"].to_d.round(8)) : number_with_delimiter(token["current_price"].round(2)) %></td>
          <% token["price_change_percentage_1h_in_currency"] ||= 0 %>
          <% if token["price_change_percentage_1h_in_currency"] >= 0 %>
            <td style="color: green;">
          <% else %>
            <td style="color: red;">
          <% end %>
            <%= token["price_change_percentage_1h_in_currency"].round(2) %>%
          </td>
          <% if token["price_change_percentage_24h_in_currency"] >= 0 %>
            <td style="color: green;">
          <% else %>
            <td style="color: red;">
          <% end %>
            <%= token["price_change_percentage_24h_in_currency"].round(2) %>%
          </td>
          <td>$<%= number_to_human(token["market_cap"]) %></td>
          <td>
            <%= number_to_human(token["circulating_supply"]) %><br/>
            <i style="font-size: 0.8rem; color: darkgray;"><%= number_to_human(token["total_supply"]) %></i>
          </td>
          <td>$<%= number_to_human(token["total_volume"]) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        let table = new DataTable('#pricesTable')
      });
    </script>
  </div>
</div>
