<% content_for :title, "Market" %>

<div class="container">
  <h5 class="page-section-heading text-center text-uppercase text-secondary mb-0">Live Market</h5>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
  </div>

  <% form_with url: prices_path, method: :get do %>
    <%= search_field_tag(:ticker, nil, placeholder: 'Enter token name') %>
    <%= submit_tag("Search") %>
  <% end %>
  <div class="table-responsive">
    <table class="table align-middle text-end table-hover">
      <thead class="align-middle">
        <tr>
          <th class="text-center">Rank</th>
          <th class="text-start">Name</th>
          <th>Price</th>
          <th>MarketCap</th>
          <th>Supply</th>
          <th style="min-width: 90px;">Volume (24Hr)</th>
          <th>Change (24Hr)</th>
        </tr>
      </thead>
      <% @prices["data"].each do |token| %>
      <tbody>
          <td class="text-center"><%= token["rank"] %></td>
          <td class="text-start">
              <%= token["name"] %><br>
              <i style="font-size: 0.8rem;"><%= token["symbol"] %></i>
          </td>
          <td>$<%= number_with_delimiter(token["priceUsd"].to_f.round(2), :delimiter => ',') unless token["priceUsd"].nil? %></td>
          <td>$<%= number_to_human(token["marketCapUsd"]) %></td>
          <td><%= number_to_human(token["supply"]) %></td>
          <td>$<%= number_to_human(token["volumeUsd24Hr"]) %></td>
          <% if token["changePercent24Hr"].to_f < 0 %>
            <td style="color: red;">
          <% else %>
            <td style="color: green;">
          <% end %>
            <%= token["changePercent24Hr"].to_f.round(2) %>%
          </td>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
