<div class="container">

  <h2 class="masthead-heading text-center text-uppercase text-secondary mb-0">Welcome</h2>
  <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
    <div class="divider-custom-line"></div>
  </div>

  <div class="card-body p-1 text-center w-50 mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-floating">
        <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder:"Password" %>
        <%= f.label :email %><br />
      </div>

      <div class="field form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Password" %>
        <%= f.label :password %><br />
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <p class="float-start">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          </p>
          <span class="float-end"><%= link_to "Forgot your password?", new_user_password_path %></span>
        </div><br /><br />
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-secondary rounded px-5 text-uppercase" %>
      </div><br/>
      <p class="mb-0">
        Don't have an account?</p>
        <strong><%= link_to "SIGN UP NOW", new_user_registration_path%></strong>
      </p>
    <% end %>
  </div>
</div>
